@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box  ;
}

:root{
    --color-primary:#96bb7c;
    --color-second-text:#737373;
}

html{
    scroll-behavior: smooth;
}

ul>li{
    list-style: none;
}

ul>li>a {
    text-decoration: none;
}

body{
    width: 100%;
    font-family: 'Open Sans',serif;
}

header{
    position: relative;
}
/* -------------------------HEADER------------------------------ */
.dflex{
    display: flex;
}

.header-content{
    /* width: 1440px; */
    max-width: 100%;
    /* position: absolute; */
}

.header-content-left{
    width: 50%;
}

.header-content-right{
    width: 50%;
}

.nav-header-left, .nav-header-right{
    height: 91px;
    line-height: 91px;
}

.nav-header-left{
    background-color: #fff;
    justify-content: space-evenly;
}

.nav-header-right{
    background-color: #f6faff;
    justify-content: center;
}

.nav-header-right-button{
    justify-content: center;
}

.branch-name ul li, .navbar ul li , .nav-header-right-button ul li{
    padding: 0 10px;
}

.branch-name ul li a{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}

.navbar ul li a{
    color: #888888;
    font-weight: 600;
}

.nav-header-right-button ul li a{
    color: var(--color-primary);
    font-weight: 600;
}

.nav-header-right-button ul:last-child li a {
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 5px;
    width: 137px;
    height: 52px;
    padding: 15px 25px;
}

.fa-arrow-right{
    font-size: 15px;
    margin-left: 5px    ;
}

.nav-bg-left{
    background-color: #eff8ed;
    height: 752px;
}

.nav-bg-right{
    /* background-color: #f6faff; */
    background-image: url(/assets/img/none.png);
    height: 752px;
    background-size: cover;
}

.header-content-about{
    position: absolute;
    height: 937px;
    width: 1046px;
    top: 104px;
    left: 197px;
    padding: 80px 0 80px 0 ;
    gap: 80px;
    background-color: transparent;
}

.header-about{
    width: 600px;
}

.header-about>.header-about-h5{
    color: var(--color-primary);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.header-about>.header-about-h1{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 30px;
}


.header-about>.header-about-h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-second-text);
    margin-top: 40px;
}

.about-btn-get{
    background-color: var(--color-primary);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}

.about-btn-learn{
    color: var(--color-primary);
    background-color: #fff;
    outline: none;
    border: solid 1px var(--color-primary);
    border-radius: 5px;
    padding: 15px 40px;
    gap: 10px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.header-content-card{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-card{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    width: 70%;
}

.about-card-item{
    width: 328px;
    height: 296px;
    background-color: #fff;
    padding: 35px 40px;
    gap: 20px;
}

.about-card-item>h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.about-card-item>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

.about-card-item-line{
    height: 2px;
    width: 50px;
    background-color: #E74040;
    margin-top: 15px;
}

/* -------------------------END_HEADER------------------------------ */
.item-ads{
    max-width: 100%;
    height: 794px;
    padding: 160px 0px;
    display: flex;
    justify-content: space-evenly;
}

.item-ads-content-line{
    height: 7px;
    width: 94px;
    background-color: #E74040;
    margin-top: 50px;
}

.item-ads-content{
    width: 381px;
    margin-left: 35px;
    gap: 35px;
}

.item-ads-content>h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 35px;
}

.item-ads-content>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-second-text);
    margin-top: 35px;
}

.item-ads-content>a{
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.item-ads-content>a{
    text-decoration: none;
    color: var(--color-primary);
}

.item-ads-content>a>h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.item-ads-content>a>i{
    line-height: 16px;
}
/* content2 */
.item-ads-content2{
    width: 507px;
}


.item-ads-content2>h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 35px;
}

.item-ads-content2>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-second-text);
    margin-top: 35px;
}

.item-ads-content2>a{
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.item-ads-content2>a{
    text-decoration: none;
    color: var(--color-primary);
}

.item-ads-content2>a>h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.item-ads-content2>a>i{
    line-height: 16px;
}

.video-intro{
    width: 513px;
    height: 363px;
    border-radius: 20px;
}

/*product*/
.product{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.product-container{
    width: 80%;
    height: 100%;
    padding: 112px 0;
}

.main-container>h6{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
}

.main-container>h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 10px;
}

.main-container>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.main-container-items{
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.product-container-item{
    height: 602px;
    width: 238px;
    margin-top: 90px;
}

.product-container-item+.product-container-item{
    margin-left: 10px;
}

.product-container-item-img{
    width: 238px;
    height: 300px;
    position: relative;
}

.product-container-item-img>p{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    color: #fff;
    top: 20px;
    left: 20px;
    width: 51px;
    height: 24px;
    border-radius: 3px;
    background-color: #E74040;
}

.product-container-item-option{
    position: absolute;
    width: 140px;
    height: 40px;
    top: 236px;
    left: 49px;
}

.product-container-item-option>i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 44.79px;
    background-color: #fff;
    text-align: center;
    transition: all .2s ease-in-out;
}

.product-container-item-option>i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.product-container-item-content{
    width: 242px;
    padding: 25px 25px 35px 25px;
}


.product-container-item-content>span{
    display: flex;
    align-items: center;
}

.product-container-item-content>span>p{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-primary);
}

.product-container-item-content>span>div{
    background-color: #161616;
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;
}

.product-container-item-content>span>div>i{
    color: #FFCC00;
}

.product-container-item-content>span>div>span{
    color: #fff;
    font-weight: 700;
}

.product-container-item-content>h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.product-container-item-content>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product-container-item-content-sales{
    display: flex;
    align-items: center;
    height: 24px;
    color: var(--color-second-text);
}

.product-container-item-content-sales>h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.product-container-item-content-price{
    display: flex;
    align-items: center;
    height: 34px;
    padding: 5px 3px;
}

.product-container-item-content-price-old{
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-second-text);
}

.product-container-item-content-price-sales{
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFAB71;
    margin-left: 5px;
}
.product-container-item-content>button{
    color: var(--color-primary);
    height: 44px;
    width: 141px;
    border-radius: 37px;
    border: 1px solid var(--color-primary);
    background-color: #fff;
    cursor: pointer;
}

/* layout-popular */
.layout-popular{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.layout-popular-container{
    width: 80%;
    height: 100%;
    padding: 160px 0;
    left: 195px;
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
}

.layout-popular-container-main>h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-primary);
}

.layout-popular-container-main>h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.layout-popular-container-main>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-second-text);
}

.center-popular{
    display: flex;
    justify-content: center;
}

.layout-popular-container-main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.layout-popular-container-main-content-card{
    width: 508px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 378px;
}

.layout-popular-container-main-content-card>img{
    border-radius: 200px;
    width: 128px;
    height: 128px;
}

.layout-popular-container-main-content-card>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.layout-popular-container-main-content-card>span>i{
    color: #FFCC00;
}

.layout-popular-container-main-content-card>h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}

.layout-popular-container-main-content-card>h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

/* news */
.news-layout{
    background-color: #FFF2F3;
    height: 594px;
    width: 100%;
}

.news-layout-container{
    height: 574px;
    width: 100%;
    left: 194px;
    padding: 160px 0;
}

.news-layout-container-about{
    width: 100%;
    height: 116px;
}

.news-layout-container-about>h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--color-primary);
}

.news-layout-container-about>h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 10px;
}

.news-layout-container-about>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}

.news-layout-container-send-email form {
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-layout-container-send-email input {
    width: 50%;
    height: 58px;
    padding: 10px;
    border: solid 1px #E6E6E6;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.news-layout-container-send-email input:focus {
    outline: none;
    border: solid 1px #007BFF;
    border-right: none;
}

.news-layout-container-send-email button {
    height: 58px;
    padding: 10px 20px;
    border: solid 1px #E6E6E6;
    border-left: none;
    color: #fff;
    background-color: var(--color-primary);
    font-weight: 700;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/* footer */
footer{
    width: 100%;
    height: 346px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 80%;
    height: 270px;
    padding: 50px 0;
}

.footer-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column ul li {
    /* padding-top: 10px; */
    margin-top: 30px;
    color: var(--color-second-text);
}

.column>ul>li i{
    color: var(--color-primary);
    padding: 0 5px;
    font-size: 20px;
}

.column ul li a{
    color: var(--color-second-text);
}

.column:last-child>ul>li:first-child{
    text-align: center;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.footer-info h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-second-text);
}

.footer-info a{
    text-decoration: none;
}

.footer-info a i{
    color: var(--color-primary);
    width: 24px;
    height: 24px;
}

.social-icons a+ .social-icons a{
    margin-left: 20px;
}