/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box  ;
}
:root{
    --color-primary:#FF7B47;
    --color-second-text:#737373;
}

html{
    scroll-behavior: smooth;
}

ul>li{
    list-style: none;
}

ul>li>a {
    text-decoration: none;
}

body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1060px;
    }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: .625rem;
}

/* Header */

.header_block{
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    min-height: 104px;
}

.content_header>a>i{
    display: none;
}

.content_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav{
    height: 102px;
    background-color: transparent;
}

.navbar{
    height: 104px;
    padding: 0 5px !important;
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.navbar-nav li:last-child{
    margin-left: -20px;
}

.toggle_item{
    cursor: pointer;
    filter: invert(100%);
    transform:scaleX(-1);
}

.navbar-toggler{
    transform:scaleX(-1);
}

.nav_content a{
    color: #fff;
}

.navbar-toggler{
    filter: invert(100%);
}

.header_main_about{
    padding: 50px 5px;
    gap: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_about_left {
    padding: 0;
}

.main_about_left h1{
    font-weight: 800;
    font-size: 58px;
    height: 240px;
    line-height: 80px;
    margin: 0;
    color: #fff;
}

.main_about_left h4{
    font-weight: 500;
    font-size: 20px;
    min-height: 60px;
    line-height: 30px;
    margin: 0;
    color: #fff;
}


.about-btn-get{
    background-color: var(--color-primary);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 37px;
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    width: 195px;
}

.about-btn-learn{
    color: #fff;
    background-color: transparent;
    outline: none;
    border: solid 1px #fff;
    border-radius: 37px;
    padding: 15px 40px;
    gap: 10px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 10px;
    width: 154px;
    white-space: nowrap;
}

.main_about_right{
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 330px;
}

.main_about_right h3{
    font-weight: 700;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    width: 233px;
    white-space: nowrap ;
}

.main_about_right form{
    width: 248px;
}


.main_about_right input,.main_about_right select{
    height: 50px;
    border-radius: 5px;
}

.main_about_right .mb-3:last-child{
    margin: 0 !important;
}

.main_about_right select{
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 600;
}

.main_about_right input{
    font-size: 14px;
    font-weight: 600;
}

.main_about_right input::placeholder{
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 600;
}

.appointment_btn{
    color: #fff;
    background-color: var(--color-primary);
    outline: none;
    border: solid 1px var(--color-primary);
    border-radius: 5px;
    padding: 15px 40px;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    height: 58px;
    line-height: 28px;  
    cursor: pointer;
}

/* client_matter_content */
.client_matter_content{
    padding: 80px 0;
    gap: 80px;
}

.client_matter_section{
    background-color: #252b42;
}

.client_matter_content_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.client_matter_content_top h2{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.client_matter_content_top p{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    width: 470px;
    color: #fff;
}

.client_matter_content_bottom{
    gap: 30px;
}

.client_matter_content_bottom>.row>.col-md-4{
    width: 328px;
    background-color: #d9edff;
    border-radius: 10px;
    overflow: hidden;
}

.client_matter_content_bottom .item-top{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #d9edff;
    padding: 30px 50px;
    white-space: nowrap;
    text-overflow: ellipsis;    
    height: 132px;
    justify-content: center;
}

.client_matter_content_bottom{
    display: flex;
    gap: 30px;
}

.client_matter_content_bottom .bottom_content{
    background-color: #d9edff;
    border-radius: 10px;
    overflow: hidden;
}

.client_matter_content_bottom .item-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 30px 50px;
    height: 253px;
    border-radius: 11px;
    border: 1px solid #a9d2f6;
}

.client_matter_content_bottom .item-top img{
    border-radius: 200px;
}

.client_matter_content_bottom .item-top h5{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
}

.client_matter_content_bottom .item-bottom h6{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-second-text);
}

.client_matter_content_bottom .item-bottom a{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #0D5C63;
    text-decoration: none;
}

/* about_section */
.about_section{
    min-height: 759px;
    padding: 80px 0;
    background: linear-gradient(to bottom, #252b42 60%, #0b101d 40%);
}

.about_section>.container>.row{
    gap: 50px;
}

.about_top h2{
    font-weight: 700;
    font-size: 40px;
    height: 57px;
    line-height: 57px;
    margin: 0;
    color: #fff;
}

.about_top p{
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin: 0;
    color: #fff;
    margin-top: 10px;
}

/* client say  */
.client_say_section{ 
    padding: 80px 0;
    background: #252B42;
}

.client_say_bottom_items{
    display: flex;
    gap: 30px;
}

.client_say_bottom_item{
    width: 330px;
    background-color: #fff;
    padding: 30px 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.client_say_bottom_item h6{
    margin: 0;
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    height: 72px;
    line-height: 24px;
}

.client_say_section>.container>.row{
    gap: 80px;
}


.client_say_top h2{
    font-weight: 700;
    font-size: 40px;
    min-height: 57px;
    line-height: 57px;
    margin: 0;
    color: #fff;
}

.client_say_top p{
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin: 0;
    color: #fff;
    margin-top: 10px;
}

.fa-star{
    color: #F3CD03;
}

.active_star{
    background-color: #F3CD03;
}


.character{
    display: flex;
    gap: 15px;
}

.character img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.character a{
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    color: var(--color-primary);
}

.character h6{
    font-weight: 600;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #252B42 !important;
    margin: 0;
}

/* team section */
.team_section{ 
    padding: 80px 0;
    background: #252B42;
}

.team_section>.container>.row{
    gap: 80px;
}

.team_bottom_items>.row{
    gap: 30px;
}

.team_bottom_items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.team_bottom_item{
    background-color: #fff;
    width: 328px;
    height: 373px;
}

.team_bottom_item_info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team_bottom_item_info h5{
    margin: 0;  
    font-weight: 700;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}

.team_bottom_item_info h6{
    margin: 0;  
    font-weight: 600;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #737373;
}

.team_bottom_item_info .list_network{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.team_bottom_item_info .list_network a i{
    height: 24px;
    width: 24px;
    font-size: 24px;
    color: #0D5C63;
}

/* contact */
.contact_top{
    background-image: url('/assets/img/background\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 679px;
}

.contact_top{
    padding: 50px 0;
}

.contact_top>.container>div{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact_top>.container h5{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    color:#fff;
}

.contact_top>.container h2{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    min-height: 57px;
    line-height: 57px;
    color:#fff;
}

.contact_top_content{
    max-width: 602px;
}

.contact_appointment_btn{
    color: #fff;
    background-color: var(--color-primary);
    outline: none;
    border: solid 1px var(--color-primary);
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 700;
    height: 58px;
    cursor: pointer;
    white-space: nowrap;
    width: 218px;
}

.contact_top_content select{
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 600;
}

.contact_top_content input{
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 600;
}

.contact_top_content input::placeholder { 
    color: #BDBDBD;    
}

.contact_top_content textarea::placeholder { 
    color: #BDBDBD;    
}

.contact_top_content textarea{
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 600;
}


.contact_bottom>.container{
    padding: 40px 5px;
    background-color: #fff;
}

.contact_bottom_title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_bottom>.container>.row{
    justify-content: space-between;
    flex-wrap: nowrap;
}
/* 
.contact_btn{
    width: 160px;
} */

.contact_bottom>.container{
    display: flex;
    justify-content: space-between;
}

.contact_bottom h3{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    min-height: 32px;
    line-height: 32px;
    white-space: nowrap;
}

.contact_bottom p{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    color: var(--color-second-text);
}

.contact_bottom button{
    padding: 15px 40px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    width: 160px;
    white-space: nowrap;
    background-color: var(--color-primary);
}

/* footer */
footer .row {
    padding: 10px 0;
}

footer{
    background-color: #252b42;
}

.footer_top{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #364067;
}

.footer_top h3{
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #fff;
}

footer .align-middle {
    display: flex;
    align-items: center;
}

.footer_container_top h5{
    font-weight: 700;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    color: #fff
}

.social_network a:nth-child(2) i{
    color: #d81f58;
}

.social_network a:nth-child(3) i{
    color: #21a6df;
}

.social_network a:nth-child(4) i{
    color: #e42f08;
}


.footer_container_top h5,.footer_container_top ul{
    margin: 0;
    padding: 0;
}

.footer_container_top .col_item div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_container_top .col_item div ul li a{
    font-weight: 700;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #BDBDBD;
}

.footer_container_top .col_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_container_top .col_item{
    padding: 50px 12px;
}

.footer_container_bottom{
    padding: 25px 0;
}

.footer_container_bottom div{
    color: var(--color-second-text);
    font-weight: 700;
    font-size: 14px;    
}

footer i {
    font-size: 24px;
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.footer_container_bottom{
    background-color: 
    #17213C;
}

.footer_container_bottom p {
    color: #fff;
    font-weight: 600;
    margin: 0;
    font-size: 14px;
    min-height: 24px;
}

.get_in_touch_input{
    width: 321px;
    height: 58px;
    margin: 0   !important;
}

.get_in_touch_input input::placeholder{
    font-weight: 400;
    font-size: 14px;
    height: 28px;
    color: #BDBDBD;
}


.get_in_touch_input button{
    width: 117px;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.get_in_touch_content p{
    font-weight: 400;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    margin: 0;
}